[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EScvtmle"]
	path = EScvtmle
	url = https://github.com/lauren-eylerdang/escvtmle
